.jumbotron{ 
    text-align: center; 
}
h1{
    font-weight: bolder;
}
h6{
    font-weight: lighter;
}
#header{
    text-align: center; 
} 
.title{
    text-align: center;
    border-radius: 5px;
    border:1px solid lightgray;
}